In [19]:
!pip install liac-arff

Requirement already satisfied: liac-arff in /opt/anaconda3/lib/python3.9/site-packages (2.5.0)

In [20]:
# import libraries
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import requests
import arff


# get data from online
df_arff = requests.get("https://utexas.box.com/shared/static/wpc25cs5ep3j1ewpfs2scoiekra22p8s.arff")

# read as arff file
df_arff = arff.load(df_arff.text)
col_val = [attribute[0] for attribute in df_arff['attributes']]

# transform arff file into pandas dataframe
new_df = pd.DataFrame(df_arff['data'], columns = col_val)
# get information about the different attributes (name and type)
meta = df_arff['attributes']
meta

[('duration', 'NUMERIC'),
 ('wage-increase-first-year', 'NUMERIC'),
 ('wage-increase-second-year', 'NUMERIC'),
 ('wage-increase-third-year', 'NUMERIC'),
 ('cost-of-living-adjustment', ['none', 'tcf', 'tc']),
 ('working-hours', 'NUMERIC'),
 ('pension', ['none', 'ret_allw', 'empl_contr']),
 ('standby-pay', 'NUMERIC'),
 ('shift-differential', 'NUMERIC'),
 ('education-allowance', ['yes', 'no']),
 ('statutory-holidays', 'NUMERIC'),
 ('vacation', ['below_average', 'average', 'generous']),
 ('longterm-disability-assistance', ['yes', 'no']),
 ('contribution-to-dental-plan', ['none', 'half', 'full']),
 ('bereavement-assistance', ['yes', 'no']),
 ('contribution-to-health-plan', ['none', 'half', 'full']),
 ('class', ['bad', 'good'])]

In [21]:
new_df.head()

,duration,wage-increase-first-year,wage-increase-second-year,wage-increase-third-year,cost-of-living-adjustment,working-hours,pension,standby-pay,shift-differential,education-allowance,statutory-holidays,vacation,longterm-disability-assistance,contribution-to-dental-plan,bereavement-assistance,contribution-to-health-plan,class
0,1.0,5.0,NaN,NaN,None,40.0,None,NaN,2.0,None,11.0,average,None,None,yes,None,good
1,2.0,4.5,5.8,NaN,None,35.0,ret_allw,NaN,NaN,yes,11.0,below_average,None,full,None,full,good
2,NaN,NaN,NaN,NaN,None,38.0,empl_contr,NaN,5.0,None,11.0,generous,yes,half,yes,half,good
3,3.0,3.7,4.0,5.0,tc,NaN,None,NaN,NaN,yes,NaN,None,None,None,yes,None,good
4,3.0,4.5,4.5,5.0,None,40.0,None,NaN,NaN,None,12.0,average,None,half,yes,half,good

SimpleImputer - Column by column

In [22]:
from sklearn.impute import SimpleImputer


df=new_df
# Create a SimpleImputer object
imputer = SimpleImputer(strategy='mean')
imputer2= SimpleImputer(strategy='most_frequent')

# Fit the imputer to the dataset
for column in df:
  try:
    # If the column is not of type object (categorical), then impute using the mean
    if df[column].dtype != "object":
      print(df[column].dtype, column)
      df[column] = imputer.fit_transform(df[[column]])
    # Else impute using the most frequent value
    else:
      df[column] = imputer2.fit_transform(df[[column]])
  except:
      pass      

df

float64 duration
float64 wage-increase-first-year
float64 wage-increase-second-year
float64 wage-increase-third-year
float64 working-hours
float64 standby-pay
float64 shift-differential
float64 statutory-holidays

,duration,wage-increase-first-year,wage-increase-second-year,wage-increase-third-year,cost-of-living-adjustment,working-hours,pension,standby-pay,shift-differential,education-allowance,statutory-holidays,vacation,longterm-disability-assistance,contribution-to-dental-plan,bereavement-assistance,contribution-to-health-plan,class
0,1.000000,5.000000,3.971739,3.913333,None,40.000000,None,7.444444,2.000000,None,11.00000,average,None,None,yes,None,good
1,2.000000,4.500000,5.800000,3.913333,None,35.000000,ret_allw,7.444444,4.870968,yes,11.00000,below_average,None,full,None,full,good
2,2.160714,3.803571,3.971739,3.913333,None,38.000000,empl_contr,7.444444,5.000000,None,11.00000,generous,yes,half,yes,half,good
3,3.000000,3.700000,4.000000,5.000000,tc,38.039216,None,7.444444,4.870968,yes,11.09434,None,None,None,yes,None,good
4,3.000000,4.500000,4.500000,5.000000,None,40.000000,None,7.444444,4.870968,None,12.00000,average,None,half,yes,half,good
5,2.000000,2.000000,2.500000,3.913333,None,35.000000,None,7.444444,6.000000,yes,12.00000,average,None,None,None,None,good
6,3.000000,4.000000,5.000000,5.000000,tc,38.039216,empl_contr,7.444444,4.870968,None,12.00000,generous,yes,none,yes,half,good
7,3.000000,6.900000,4.800000,2.300000,None,40.000000,None,7.444444,3.000000,None,12.00000,below_average,None,None,None,None,good
8,2.000000,3.000000,7.000000,3.913333,None,38.000000,None,12.000000,25.000000,yes,11.00000,below_average,yes,half,yes,None,good
9,1.000000,5.700000,3.971739,3.913333,none,40.000000,empl_contr,7.444444,4.000000,None,11.00000,generous,yes,full,None,None,good
10,3.000000,3.500000,4.000000,4.600000,none,36.000000,None,7.444444,3.000000,None,13.00000,generous,None,None,yes,full,good
11,2.000000,6.400000,6.400000,3.913333,None,38.000000,None,7.444444,4.000000,None,15.00000,None,None,full,None,None,good
12,2.000000,3.500000,4.000000,3.913333,none,40.000000,None,7.444444,2.000000,no,10.00000,below_average,no,half,None,half,bad
13,3.000000,3.500000,4.000000,5.100000,tcf,37.000000,None,7.444444,4.000000,None,13.00000,generous,None,full,yes,full,good
14,1.000000,3.000000,3.971739,3.913333,none,36.000000,None,7.444444,10.000000,no,11.00000,generous,None,None,None,None,good
15,2.000000,4.500000,4.000000,3.913333,none,37.000000,empl_contr,7.444444,4.870968,None,11.00000,average,None,full,yes,None,good
16,1.000000,2.800000,3.971739,3.913333,None,35.000000,None,7.444444,2.000000,None,12.00000,below_average,None,None,None,None,good
17,1.000000,2.100000,3.971739,3.913333,tc,40.000000,ret_allw,2.000000,3.000000,no,9.00000,below_average,yes,half,None,none,bad
18,1.000000,2.000000,3.971739,3.913333,none,38.000000,none,7.444444,4.870968,yes,11.00000,average,no,none,no,none,bad
19,2.000000,4.000000,5.000000,3.913333,tcf,35.000000,None,13.000000,5.000000,None,15.00000,generous,None,None,None,None,good
20,2.000000,4.300000,4.400000,3.913333,None,38.000000,None,7.444444,4.000000,None,12.00000,generous,None,full,None,full,good
21,2.000000,2.500000,3.000000,3.913333,None,40.000000,none,7.444444,4.870968,None,11.00000,below_average,None,None,None,None,bad
22,3.000000,3.500000,4.000000,4.600000,tcf,27.000000,None,7.444444,4.870968,None,11.09434,None,None,None,None,None,good
23,2.000000,4.500000,4.000000,3.913333,None,40.000000,None,7.444444,4.000000,None,10.00000,generous,None,half,None,full,good
24,1.000000,6.000000,3.971739,3.913333,None,38.000000,None,8.000000,3.000000,None,9.00000,generous,None,None,None,None,good
25,3.000000,2.000000,2.000000,2.000000,none,40.000000,none,7.444444,4.870968,None,10.00000,below_average,None,half,yes,full,bad
26,2.000000,4.500000,4.500000,3.913333,tcf,38.039216,None,7.444444,4.870968,yes,10.00000,below_average,yes,none,None,half,good
27,2.000000,3.000000,3.000000,3.913333,none,33.000000,None,7.444444,4.870968,yes,12.00000,generous,None,None,yes,full,good
28,2.000000,5.000000,4.000000,3.913333,none,37.000000,None,7.444444,5.000000,no,11.00000,below_average,yes,full,yes,full,good
29,3.000000,2.000000,2.500000,3.913333,None,35.000000,none,7.444444,4.870968,None,10.00000,average,None,None,yes,full,bad
30,3.000000,4.500000,4.500000,5.000000,none,40.000000,None,7.444444,4.870968,no,11.00000,average,None,half,None,None,good
31,3.000000,3.000000,2.000000,2.500000,tc,40.000000,none,7.444444,5.000000,no,10.00000,below_average,yes,half,yes,full,bad
32,2.000000,2.500000,2.500000,3.913333,None,38.000000,empl_contr,7.444444,4.870968,None,10.00000,average,None,None,None,None,bad
33,2.000000,4.000000,5.000000,3.913333,none,40.000000,none,7.444444,3.000000,no,10.00000,below_average,no,none,None,none,bad
34,3.000000,2.000000,2.500000,2.100000,tc,40.000000,none,2.000000,1.000000,no,10.00000,below_average,no,half,yes,full,bad
35,2.000000,2.000000,2.000000,3.913333,none,40.000000,none,7.444444,4.870968,no,11.00000,average,yes,none,yes,full,bad
36,1.000000,2.000000,3.971739,3.913333,tc,40.000000,ret_allw,4.000000,0.000000,no,11.00000,generous,no,none,no,none,bad
37,1.000000,2.800000,3.971739,3.913333,none,38.000000,empl_contr,2.000000,3.000000,no,9.00000,below_average,yes,half,None,none,bad
38,3.000000,2.000000,2.500000,2.000000,None,37.000000,empl_contr,7.444444,4.870968,None,10.00000,average,None,None,yes,none,bad
39,2.000000,4.500000,4.000000,3.913333,none,40.000000,None,7.444444,4.000000,None,12.00000,average,yes,full,yes,half,good
40,1.000000,4.000000,3.971739,3.913333,none,38.039216,none,7.444444,4.870968,yes,11.00000,average,no,none,no,none,bad
41,2.000000,2.000000,3.000000,3.913333,none,38.000000,empl_contr,7.444444,4.870968,yes,12.00000,generous,yes,none,yes,full,bad
42,2.000000,2.500000,2.500000,3.913333,tc,39.000000,empl_contr,7.444444,4.870968,None,12.00000,average,None,None,yes,None,bad
43,2.000000,2.500000,3.000000,3.913333,tcf,40.000000,none,7.444444,4.870968,None,11.00000,below_average,None,None,yes,None,bad
44,2.000000,4.000000,4.000000,3.913333,none,40.000000,none,7.444444,3.000000,None,10.00000,below_average,no,none,None,none,bad
45,2.000000,4.500000,4.000000,3.913333,None,40.000000,None,7.444444,2.000000,no,10.00000,below_average,no,half,None,half,bad
46,2.000000,4.500000,4.000000,3.913333,none,40.000000,None,7.444444,5.000000,None,11.00000,average,None,full,yes,full,good
47,2.000000,4.600000,4.600000,3.913333,tcf,38.000000,None,7.444444,4.870968,None,11.09434,None,yes,half,None,half,good
48,2.000000,5.000000,4.500000,3.913333,none,38.000000,None,14.000000,5.000000,None,11.00000,below_average,yes,None,None,full,good
49,2.000000,5.700000,4.500000,3.913333,none,40.000000,ret_allw,7.444444,4.870968,None,11.00000,average,yes,full,yes,full,good
50,2.000000,7.000000,5.300000,3.913333,None,38.039216,None,7.444444,4.870968,None,11.00000,None,yes,full,None,None,good
51,3.000000,2.000000,3.000000,3.913333,tcf,38.039216,empl_contr,7.444444,4.870968,yes,11.09434,None,yes,half,yes,None,good
52,3.000000,3.500000,4.000000,4.500000,tcf,35.000000,None,7.444444,4.870968,None,13.00000,generous,None,None,yes,full,good
53,3.000000,4.000000,3.500000,3.913333,none,40.000000,empl_contr,7.444444,6.000000,None,11.00000,average,yes,full,None,full,good
54,3.000000,5.000000,4.400000,3.913333,none,38.000000,empl_contr,10.000000,6.000000,None,11.00000,generous,yes,None,None,full,good
55,3.000000,5.000000,5.000000,5.000000,None,40.000000,None,7.444444,4.870968,None,12.00000,average,None,half,yes,half,good
56,3.000000,6.000000,6.000000,4.000000,None,35.000000,None,7.444444,14.000000,None,9.00000,generous,yes,full,yes,full,good

OneHotEncoder

In [23]:
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier
from sklearn.naive_bayes import MultinomialNB,CategoricalNB
from sklearn.neighbors import KNeighborsClassifier


X = new_df.drop(columns='class')
y = new_df['class']
print('Original size', X.shape)

from sklearn import preprocessing

le = preprocessing.OneHotEncoder()
X = le.fit_transform(X)
X=X.toarray()
# Lead to increased dimensionality, as a separate column is created for each category in the variable. 
# New columns are created for empty values
# Can also lead to overfitting, especially if there are many categories in the variable and the sample size is relatively small
print('Transformed size', X.shape)

model = DecisionTreeClassifier(criterion = 'entropy', max_depth = 5).fit(X, y)
# model = MultinomialNB(force_alpha=True).fit(X, y)
# model = CategoricalNB(force_alpha=True).fit(X, y)
# model = KNeighborsClassifier().fit(X, y)
# model = RandomForestClassifier().fit(X, y)

# Calculate the AUC score using cross-validation
auc_scores = cross_val_score(model, X, y, cv=5, scoring='roc_auc')

# Print the AUC scores for each fold of cross-validation
print("AUC score Classification Tree:", auc_scores.mean())

Original size (57, 16)
Transformed size (57, 112)
AUC score Classification Tree: 0.8267857142857142

In [24]:
X

array([[1., 0., 0., ..., 0., 0., 1.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 1., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])